<footer>
    <div class="footer-container">
      <div class="footer-section newsletter">
            <h4>Join Our Club, Get 15% Off For Your Birthday</h4>
            <div class="email-bar">
                <input type="email" placeholder="Enter your email" class="email-input">
                <button class="email-submit">
                <span class="arrow">&#8594;</span>
                </button>
            </div>
      </div>

      <div class="footer-section">
        <h4>About Modimal</h4>
        <ul>
          <li><a href="#">Collection</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Support System</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Copyright Notice</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Help & Support</h4>
        <ul>
          <li><a href="#">Orders & Shipping</a></li>
          <li><a href="#">Returns & Refunds</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Join Up</h4>
        <ul>
          <li><a href="#">Modimal Club</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Visit Us</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-container">
      <div class="social-icons">
        <a href="#">&#xf16d;</a>
        <a href="#">&#xf09a;</a>
        <a href="#">&#xf231;</a>
        <a href="#">&#xf16a;</a>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2023 Modimal. All Rights Reserved.</p>
    </div>
  </footer>
