<header class="header">
  <div class="line">
      <p>Enjoy Free Shipping On All Orders</p>
  </div>
  <div class="container">
    <div class="logo" routerLink="/">
      modimal<span class="tagline">women clothing</span>
    </div>
    <nav class="navbar">
      <ul>
        <li class="menu-item" routerLink="product-listing">Products</li>
        <li class="menu-item" routerLink="sign-in">Login</li>
        <li class="menu-item" routerLink="sign-up">Sign up</li>
        <li class="menu-item" routerLink="sustainability">Sustainability</li>
      </ul>
    </nav>
    
  </div>
</header>
