
  <!-- Header Section -->
  <header class="hero">
    <div class="hero-content">
      <h1>Elegance In Simplicity,<br>Earth's Harmony</h1>
      <button class="btn">New In</button>
    </div>
  </header>

  <!-- Best Sellers Section -->
  <section class="best-sellers">
    <h2>Best Sellers</h2>
    <div class="products">
      <div class="product-card">
        <img src="https://s3-alpha-sig.figma.com/img/2a1b/ae81/2e81613b401c4689b9ced6df9a3b631a?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TmOqiPQLQN8seI90YEvnWvE1H3uW5C46pH6WxtGT4Pxexgw4MHh4Pptwjh-W8n8Wr8n86D1XLk9ZRNq4-ujHHCgXJJ9aoiOmMbWkDHWu6KFV6zMMjTeuxN9H5f3kWT1Hl7BC47~UbS34A2YMfgISlQXhjQHYwPHHN1LE28AXjeB90zL1o-~7-6856~pknvehb8HNkfDIxBIc9BP5cfqYMFu5R6yTw3PsviiVn8oHk4kJhs2cI42SWeKIS2z5p51BH-4Ow603hdz~Zp~WLfWQR1LMDjEK3JW5EOwa3CePstt5w6N9h2E6DlmRVH4xBF9wwFDHERTXImHHJJIP3Ttljw__" alt="Tailored Stretch">
        <h3>Tailored Stretch</h3>
        <p>Turn It Up Pants</p>
        <p class="price">$180</p>
        <div class="colors">
          <span class="color black"></span>
          <span class="color teal"></span>
          <span class="color blue"></span>
          <span class="color cream"></span>
        </div>
      </div>
      <div class="product-card">
        <img src="https://s3-alpha-sig.figma.com/img/d5e5/f24b/527834489346f983b00b7694764c987d?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=boxbyKPzyUnoKFu3OrA1JjeCy7p-zpXxVLOj7xzeliclen6bh8DY7ycCmE8dVIAEgqjyqMu6HLsCWGub6FqFgdPk~uyRlfaaNMx1See~vcOcDe7CZmLbK4YaMluVKLBuarj0~~B7~R~Ko16X859612xXeiOnoU3zffs1wjKBkk0Qw9Xqqi8aURHZRpY5Lqbjb3TJ-DKPEJryuSnE98ZYs2mfkO33ZUgustnrJk-5EcgTiav~ajm4sFXNnthdlv1eTvXpEqcH5kB43bTD1RgkfZBMzgRLzbad~MRFvm3fzlTM9GYS0KAXSHy9wKCa-zYMAcHeJuZim0ODr5YkaVmgHA__" alt="Technical Silk">
        <h3>Technical Silk</h3>
        <p>Make A Splash</p>
        <p class="price">$120</p>
        <div class="colors">
          <span class="color green"></span>
          <span class="color olive"></span>
        </div>
      </div>
      <div class="product-card">
        <img src="https://s3-alpha-sig.figma.com/img/6860/8864/caedfff6f199090866e9fe1b5997ca26?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Rr4QX9yiIUmYlmEco5Hng3CFgvtauaLVt3InVpDt0PPSeSbLqiRgaCJYRJkAubWIE~1XRF7hK6xO2RHozLVXOJffuQqIxGCkTSmBLSAz0lGbETcq6fhEW3sg7WTSQyCs75Mfm5i-dWbP1-WtHq2h-inIuKLYfY8i6~pwP4dpBLC2Bf9LQ35Ske~Jvq4T6FOM3akqPWWuir~LCTJFw6zLSVCtituNA4ObOVaZE6akdKGhiroXwAuF1Ia6WSEwZZQcMl28TnbF0oGHdfEJsjGFRQqHJgBK0Bd1e8d3woGVLn293~X48if9xbTFTCd5BtFZi1vW9VlMc7bvRqAxK0Po~Q__" alt="Cool Weave">
        <h3>Cool Weave</h3>
        <p>Anywhere Dress</p>
        <p class="price">$210</p>
        <div class="colors">
          <span class="color navy"></span>
          <span class="color lilac"></span>
          <span class="color cream"></span>
        </div>
      </div>
    </div>
  </section>

  <div class="center-container">
    <div class="page-title">Collection</div>
    <div class="container">
      <div class="tamplate">
        <div class="left">
          <div class="tamplate-img" [ngStyle]="{'background-image': 'url(https://s3-alpha-sig.figma.com/img/7d6e/011d/637d8076f450d0748072279f5cc2048f?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hKCAZvYfB-UCE13YT49abKi0gY-H95KAvXpnAjfHa1icsqGukJSi-UohJlY8w2VEknRrkOiMgB0qb7B2qOpVx-4Ebwtardb22sR2BGR1CSDoe7xmM23LfiawrGA3-xmEP7rcgN4ZYxTR2np5bN-q3ct5m6w4EdOL3yGOItu-nCE0lM6ttQPNZcvCJ-zJYLpWHRFKXhrW4jst0-5OdeyBiJcQyvgBYDTD4fH-o0PWbV1Kft2Q1hhZi2ui~Aour2N60KukP15kqpHVkObxfBw0fG~9iwms3RU3x73vHQfs8xAM0wmmzYbX6R4Ap79DcOV5WWijIBL7DGnK9NdvuvdLqA__)'}">
            <button>Click</button>
          </div>
          <div class="tamplate-img" [ngStyle]="{'background-image': 'url(https://s3-alpha-sig.figma.com/img/e1eb/aac7/132efdc745cc3cbc6bead99ab9a90c31?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=githUT~hRamsAK0ZLNC8P8fxkmSIKyLA-VgyGR5M55kQh8yatISY-h4b-U4EI5RierdRPXG7bJgFkBmKzquazzkWD56kZFrLM0aijuK1~fnIji3OmyydZIY0e-MWI~CI49NnwbJ~8BiKJVmOyN4VS2ywqWkqYuZweIQS1JbmOeLoDk-Dys~ZygeTR~wuzCREpRX-lgdwALhT7JkMEKjtJl-wxAlhatne0L1cPnOq4xBpB0Qw3HUpCjHj6CqzclANHA5mWzypF3WMgTXNoA5Bz3WcjY0B7d8WRWzbvfgh0ikWrp~ygnavE9-EVlgBk4pzWYlVIeccyiEdqwtWFZDWQA__)'}">
            <button>Click</button>
          </div>
        </div>

        <div class="right">
          <div class="tamplate-img" [ngStyle]="{'background-image': 'url(https://s3-alpha-sig.figma.com/img/ad9c/d55b/08cf35cdef25b1b91c9267cde6c2da60?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TlocxGRMFBJwJGmCpaI4S55fOLm5ZVIKKik5kPByaWQ1xPYHjdHI5tIMaxRDy5PquBkgRmblmm5xZBl4G3eKEIEFtD3AMtMC~m~6Cu3JTd8NPkkcuiODV0XWeTBznVNt6n6--iz58oOx6HjiG2o8iBC5vgNKLQBg2DX8f-kXV~K9tdIKO~aKNVqig39N7W6cQu7LEjkcU3Q-sV7-jJWDlEqon73lFS91nQ2DyIEhU2aKStWOgTPB-bvtgcXi82UbXKw1Oe1WH4HW2d3qO4nb1Sb7gLY~MbEzGyzrFCOt1HS9D~EoGQNuq5XY5vSQt4hRRSa36~eV1NyUYsvAWCtkiQ__)'}">
            <button>Click</button>
          </div>
          <div class="tamplate-img" [ngStyle]="{'background-image': 'url(https://s3-alpha-sig.figma.com/img/73e1/4e49/4a3e57253a1e3434e22de58928784b6f?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IdTi-wxdM~ZNQc6zWGj28z0IzeNtmQGfYHBqSvf1O2gZzctL0W2lVvkJQEFio5J4JinmgXXzbBICJheAhyxepEhpci~Md~ywt2xeU7pueDWExrHdTyHL0Nk2xF1WWqTDiMTl7UKE1DulJlOxQMoWr-0DJbtjw5XUvezyhdqmA2DU29C~ppdHIl-8KkChhgzHo1ZKjrM929hQozkymP9IaCNzptCN6HNJcBFqr~~p87UVXgKZXGTAiKcHmODvPj6yKnS0H3sE4E6S8exBQUpaUVyGZ5XKZjOR4QjYJulePBQSTiU-JsFOxqWnNDm0NrumCU6HOLXnj3V~v-Xu-XVvTg__)'}">
            <button>Click</button>
          </div>
        </div>
      </div>
    </div>
</div>


